*.a
*.pc
*.so*
*.dylib
*.o
*.gmo
.ninja_log
.ninja_deps
openmic-cli
openmic-gui
openmic-tui
openmic-config.h
**/meson-info/*.json
**/meson-logs/*.txt
**/meson-dist/
**/build.ninja
**/compile_commands.json
**/meson-private
